@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Golos+Text&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0px solid black;
    font-family: 'Fjalla One', sans-serif;
}

body {
    background: #eee;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffd871;

}

#header-logo {
    width: 120px;
    height: 110px;
    margin-left: 40px;
    
}

#header-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header-navbar {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#header-navbar a {
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    color: #000;
    border: 1px solid transparent;
    text-align: center;
    transition: transform 0.6s ease;
}

#header-navbar a:hover {
    border-color:rgba(122,122,122,0.8);
    background: #7b6936;
    color: #eee;
    cursor: pointer;
    transform: scale(1.10);
    border-radius: 5px;
}

#header-tools {
    margin-right: 40px;
    width:140px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#header-tools i {
    font-size: 25px;
    transition: transform .5s ease;
}

#header-tools i:hover {
    color: #eee;
    cursor: pointer;
    transform: scale(1.30);
}

#menu-tools {
    background: #eee;
    width: 200px;
    position: absolute;
    top: calc(50% + 22.5px);
    right: -40px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 5px rgba(122,122,122,0.5),
                0 2px 10px;
}

.menu-tools li:hover {
    background: #7b6936;
    color: #eee;
    cursor: pointer;
    transform: scale(1.05);
}

.menu-tools::before {
    content: "";
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #eee;
    position: absolute;
    top: -5px;
    left: 85px;
}

.menu-tools {
    list-style: none;
    display:none;
}

.menu-tools li {
    padding: 10px 20px;
    font-size: 15px;
    transition: transform 0.6s ease;
}

.menu-tools li i {
    margin-right: 25px;
    font-size: 15px;

}

.menu-tools li:first-child {
    border-radius: 10px 0 0 0;
}

.menu-tools li:last-child {
    border-radius: 0 0 0 10px;
}

.active {
    display: flex;
    flex-direction: column;
}

#main {
    width: 100%;
    
}

#main-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background: rgb(200, 200, 200);
}

.title {
    margin: 40px 0px;
    font-size: 30px;
    text-align: center;
}

#search-form {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#search-text {
    width: 70%;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
    background: #aaa;
}

#search-text:active {
    background: #fff;
}

#search-btn {
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    padding: 0 18px;
    font-size: 22px;
}

#search-btn:hover {
    color:#eee;
    font-weight: bold;
    background: #ffd871;
    cursor: pointer;
}

#search-container {
    width: 70%;
    display: none;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

#search-img {
    width: 70%;
    display: flex;
    justify-items: center; 
    height: 400px;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(122,122,122,0.8),
                4px 5px 10px;
}

#details-search img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#details-search {
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius:10px;
    margin-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(122,122,122,0.8),
                4px 5px 10px;
}

#details-txt {
    width: 100%;
}

#details-txt h3 {
    margin-bottom: 10px;
}

.link-result {
    margin-left: 10px;
    font-size: 12px;
}

#details-txt p {
    text-align: justify;
    padding-right: 10px;
}

.result-item {
    margin: 15px;
    padding: 10px;
    transition: transform 0.6s ease;
}

.result-item:hover {
    background: rgba(122,122,122,0.8);
    transform: scale(1.043);
    cursor: pointer;
}

.result-item a:hover {
    color: #eee;
}

#main-category {
    width: 1200px;
    margin: 0 auto;
}

#category-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.category {
    width:100%;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(122,122,122,0.8),
                4px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.subtitle {
    width: 100%;
    height: 100%;
    background: rgba(190, 190, 190, 0.8);
    color: rgb(70,70,70);
    font-size: 24px;
    text-align: center;
    padding: 0;
    border-radius: 10px 10px 0 0;
    z-index: 1000;
    position: absolute;
    text-align: center;
    line-height: 1000%;
    transition: opacity 0.7s;
    
}

.category hr {
    width: 90%;
    border: 1px solid rgba(122,122,122,0.8);
    margin-top: 10px;
    display: none;
}

.category img {
    width: 100%;
    height: 250px;
    border-radius: 0 0 10px 10px;
    transition: transform .8s ease;
}



#main-principal {
    width: 100%;
    background: rgb(200, 200, 200);
    border: 1px solid transparent;
}

#principal-grid {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.principal-section {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(122,122,122,0.8),
                4px 5px 10px;
}

.principal-img {
    width: 60%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.principal-text {
    width: 40%;
    height: 100%;
    overflow: auto;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:10px;
}

*::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px; 
    background: rgba(233,233,233,0.5);

}


.principal-text p {
    text-align: justify;
    margin: 7px 12px;
}

#footer {
    width: 100%;
    background: #ffd871;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#footer-flex {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#footer-about {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

#contact-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 20px 0px;
}

#contact-form input, #contact-form label {
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 14px;
}

#contact-form button {
    width: 120px;
    padding: 5px;
    background: #000;
    color: #eee;
    margin-top: 20px;
    border-radius: 10px;
    align-self: center;
}

#contact-form button:hover {
    font-weight: bold;
    background: #eee;
    color:#000;
    cursor: pointer;
}


#footer-media i {
    font-size: 30px;
    margin: 10px 20px;
    transition: transform .5s ease;
}

#footer-media i:hover {
    color: #eee;
    transform: scale(1.30);
    cursor: pointer;
}

#footer-rights {
    width: 90%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
    border-top: 2px solid rgba(122,122,122,0.5);
    
}

.new-topic {
    display: none; /* change for show and hide */
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    padding-top: 45px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.new-topic-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 90%;
    background-color: rgb(200, 200, 200);
    overflow-y: scroll;
}

.new-topic-content h1 {
    margin: 50px 0;
}

.new-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-form input {
    margin-bottom: 20px;
    width: calc(70% - 18px);
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
}

.new-form select {
    margin-bottom: 20px;
    width: 70%;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
}

.new-form label {
    width: 70%;
    margin-bottom: 5px;
    text-align: left;
}

.new-form textarea {
    width: calc(70% - 20px);
    height:300px;
    overflow-y: scroll;
    resize: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.new-form #new-image {
    display: inline-block;
    border-radius: 5px;
}
    

.new-form #new-image-preview {
    width: 70%;
    height: 330px;
    object-fit: cover;
    display: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.new-form button {
    width: 200px;
    height: 35px;
    margin: 50px 0;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.8);
    transition: transform 0.6s ease;
}

.new-form button:hover {
    background: #7b6936;
    color: #eee;
    cursor: pointer;
    transform: scale(1.05);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #eee;
    cursor: pointer;
}

.close-button:hover {
    color:rgba(190, 190, 190, 0.8);
}


@media screen and (max-width: 1278px) {
    #main-category, #principal-grid, #footer-flex {
        width: 920px;
    }
}

@media screen and (max-width: 960px) {
    #main-category, #footer-flex {
        width: 730px;
    }

    #category-grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    #principal-grid {
        width: 620px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
    }  
}

@media screen and (max-width: 764px) {
    #search-form, #search-img {
        width: 80%;
    }

    #search-text {
        width: 100%;
    }

    #main-category {
        width: 420px;
    }

    #category-grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    }

    #principal-grid, #footer-flex {
        width: 523px;
    }  
}

@media screen and (max-width: 574px) {
    #main-category, #principal-grid, #footer-flex {
        width: 380px;
    }

    .principal-section {
        height: auto;
        flex-wrap: wrap;
    }

    .principal-img, .principal-text {
        width: 100%;
        display: block;
        border-radius: 10px 10px 0px 0px;
    }
}
